*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(245, 244, 244)
}

.display-inline-block{
    display: inline-block;
}

.vertical-align-middle{
    vertical-align: middle;
}

header{
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}


h1{
    font-weight: bolder;
    font-size: 2rem;
}

h2{
    margin-top: 20px;
    font-weight: 800;
    color: #484c55;
}



.list-item{
    font-weight: bold;
    color: #484c55;
    margin-bottom: 20px;
}

.box-1{
    background-color: white;
    height: 70px;
    width: 40rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    margin: 3rem auto .5rem;
    box-sizing: border-box;
    padding: 1rem;
}

.button-task{
    border: solid rgb(50, 172, 243) 1px;
    background-color: rgb(50, 172, 243) ;
    color: white;
    border-radius: .33rem;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: .33rem .77rem;
}

.button-add{
    border: solid rgb(190, 190, 190) 1px;
    background-color: white ;
    color: rgb(190, 190, 190);
    border-radius: .33rem;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: .33rem .77rem;
}

ul{
    color: #484c55;
    font-weight: bold;
    list-style: none;
}

li{
    margin-bottom: 1rem;;
}

.todo-list-section{
    margin-bottom: 0;
}

.tag{  
    padding: .3rem .6rem;
    border-radius: .5rem;
    margin-left: 15px;
    color: white;
    font-size: .8rem;
}

.tag-blue{
    background-color: rgb(50, 172, 243);

}

.tag-green{
    background-color: rgb(91, 180, 91);

}

.tag-orange{
    background-color: rgb(252, 192, 81);

}

.tag-pink{
    background-color: rgb(201, 133, 144);

}

.tag-purple{
    background-color: rgb(223, 114, 223);
    
}

.font-white{
    color: white;
    box-sizing: border-box;
    font-weight: 400;
}

.box-2{
    background-color: white;
    height: 40rem;
    width: 40rem;
    border-radius: 0% 0% 5% 5%;
    margin: .5rem auto;
    box-sizing: border-box;
    padding: 1rem 3rem;
}

.circle{
    border: solid 1px transparent;
    color: green;
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: .8rem;
    margin-right: 0.5rem;
}

.circle-green{
    border-color: green;
    color: green;
}

.circle-red{
    border-color: red;
    color: red;
}


